<app-header></app-header>
<div class="wrapper" *ngIf="emailOver">
        <div class="page-header">
                <img class="shapes circle" src="assets/img/cercuri.png" />
            
                <i class="las la-plane-departure shapes flight"></i>
            
                <div class="content-center card emailcard searchcomponent col-lg-5 col-md-6">
                  <h3 style="text-transform: capitalize;">Enter your Email</h3>
            
                  <form autocomplete="off" style="margin: 0 auto;">
                    <div class="row" >
                      <div class="col-md-9 col-sm-12">
                       
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Email"
                          [(ngModel)]="email"
                          name="email"
                        />
                        <br />
                      </div>  
                      <div class="col-md-3 col-sm-12">
                        <button
                          class="btn btn-danger btn-round btn-sm"
                          data-animation="true"
                          data-container="body"
                          placement="right"
                          (click)="sendOtp()"
                        >
                         Send OTP
                        </button>
                        
                      </div>
                    </div>
                    <div class="row"><div style="width: 100%; color: aliceblue;text-align: center;">
                       
                            <p style="text-align: center;">{{statusMessage}}</p>
                        
                      </div></div>
                    <!-- <div class="row"><div *ngIf="errorMessage" style="width: 100%;">
                            <alert [type]="'info'">
                                {{errorMessage}}
                            </alert>
                          </div></div> -->
                  </form>
                </div>
              </div>
</div>

<!-- ====================================== -->
<div class="wrapper" *ngIf="otpSent">
    <div class="page-header">
            <img class="shapes circle" src="assets/img/cercuri.png" />
        
            <i class="las la-plane-departure shapes flight"></i>
        
            <div class="content-center card emailcard searchcomponent col-lg-5 col-md-6">
              <h3 style="text-transform: capitalize;">Enter the OTP</h3>
        
              <form autocomplete="off" style="margin: 0 auto;">
                <div class="row" >
                  <div class="col-md-9 col-sm-12">
                   
                    <input
                      type="text"
                      class="form-control"
                      placeholder="One Time Password"
                      [(ngModel)]="otp"
                      name="otp"
                    />
                    <br />
                  </div>
                  
                  <div class="col-md-3 col-sm-12">
                    <button
                      class="btn btn-danger btn-round btn-sm"
                      data-animation="true"
                      data-container="body"
                      placement="right"
                      (click)="validateOtp()"
                    >
                     Check OTP
                    </button>
                  </div>
                  <!-- <div class="row" *ngIf="otp!=OTP || otp">
                      <div  style="width: 100%;" class="col-md-12">
                          <alert [type]="'info'">
                              Ivalid OTP
                          </alert>
                        </div>
    
                  </div> -->
                  <div class="row"><div style="width: 100%; color: aliceblue;text-align: center;">
                       
                      <p style="text-align: center;">{{statusMessage}}</p>
                  
                </div></div>
                  
                </div>
              </form>
            </div>
          </div>
</div>
<!-- ====================================== -->

<!-- ====================================== -->
<div class="wrapper" *ngIf="rightOtp">
    <div class="page-header">
            <img class="shapes circle" src="assets/img/cercuri.png" />
        
            <i class="las la-plane-departure shapes flight"></i>
        
            <div class="content-center card passcard searchcomponent col-lg-5 col-md-6">
              <h3 style="text-transform: capitalize;">Enter the New Password</h3>
        
              <form autocomplete="off" style="margin: 0 auto;">
                <div class="row" >
                  <div class="col-md-4 col-sm-12">
                   
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      [(ngModel)]="password1"
                      name="password1"
                    />
                    <br />
                  </div>
                  <div class="col-md-4 col-sm-12">
                   
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Re Enter Password"
                        [(ngModel)]="password2"
                        name="password2"
                      />
                      <br />
                    </div>
                  
                  <div class="col-md-3">
                    <button
                      class="btn btn-danger btn-round btn-sm"
                      data-animation="true"
                      data-container="body"
                      placement="right"
                      (click)="updatePassword()"
                    >
                     Change Password
                    </button>
                  </div>
                
                    <div class="row"><div style="width: 100%; color: aliceblue; text-align: center;">
                       
                        <p style="text-align: center;">{{statusMessage}}</p>
                    
                  </div></div>
               
                   
                      
                </div>
              </form>
            </div>
          </div>
</div>
<!-- ====================================== -->
<app-footer></app-footer>