<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo"><i class="tim-icons icon-world"></i> Ta•</h1>
        <h3>
          Not all those who wander are lost.
        </h3>

        <div>
          <i style="font-size: 30px;" class="las la-angle-double-down"></i>
       
        </div>
      </div>
      
    </div>
    <div></div>
  </div>

  
</div>

